body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 227, 115);
}
section{
    padding: 10px 0;
}
.container{
    width: 80%;
}
.logo{
    font-weight: bold;
}

.border{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.list-group-item{
    border: 0px;
}

/* The alert message box */
.alert {
    display: none;
    width: 35%;
    margin-top: 10px;
    padding: 10px;
    background-color: #f44336; /* Red */
    color:white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  

  .single-food-section{
    display: none;
  }